<!DOCTYPE html>
<html lang="'en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width = device - width, initial - scale = 1.0">
    <link rel="stylesheet" href="../static/gallery.css">
    <title> Photo Gallery </title>
</head>

<body>

    <nav>
        <img src="../static/images/images1.png" width="50px" height="50px">
        <a href="#">MAIN</a>
        <a href="#">GALLERY</a>
        <a href="#">PROJECTS</a>
        <a href="#">CERTIFICATIONS</a>
        <a href="#" class="thispage">CONTACT</a>
    </nav>

    <main>
        <div class="div">
            <h1 class="h1">
                Contact
            </h1>
            <h1 class="h2" style="margin-bottom: 3%;">
                <b> information </b>
            </h1>
        </div>

        <table>
            <tr>
                <td>
                    <p style="margin-left: 3.5%;">
                        <b> Company name </b>
                    </p>
                    <p style="margin-bottom: 5%; margin-left: 3.5%;" >
                        1234 Sammple street some city some state/province country
                    </p>
                    <p style="margin-bottom: 3%; margin-left: 3.5%;">
                        <b> 512.222.322 </b>
                    </p>    
                    <p style="margin-bottom: 3%; margin-left: 3.5%;" >
                        samplemail@mail.com
                    </p>
                </td>
            </tr>

            <tr>
                <td>
                    <p style="margin-left: 1.5%;">
                        <button2 type="submit">
                            Contact Us 
                        </button2>
                    </p>
                </td>
            </tr>
        </table>
    </main>

</body>

</html>