<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/home.css">
    <title>Architect Project Page</title>
</head>
<body>
    <nav>
        <img src="../static/images/images1.png" width="50px" height="50px">
        <a href="{{url_for('Homescreen')}}" class="thispage">MAIN</a>
        <a href="{{url_for('GalleryPage', currentPage = 1)}}">GALLERY</a>
        <a href="{{url_for('OurProjects', currentPage = 1)}}">PROJECTS</a>
        <a href="{{url_for('contactPage')}}">CONTACTS</a>
    </nav>
    <main>
        <div class="row">
            <div>
                <h1 class="roboto-light" style="font-size: 64px; color: #BDBDBD;">PROJECT</h1>
                <h2 class="roboto-bold" style="font-size: 64px; color: #333333;">LORUM</h2>
            </div>
            <img src="../static/images/Rectangle 6.png" width="770px" height="829px">
        </div>
        <div style="display: flex; 
        flex-direction: row; 
        gap: 30px; 
        padding-left: 100px; 
        align-items: center; 
        padding-top: 30px; 
        padding-bottom: 30px;
        background-color: #f4f4f4; 
        margin-top: 120px; 
        margin-bottom: 150px; 
        margin-left: 135px; 
        margin-right: 135px;">
            <div style="display: flex; flex-direction: column; gap: 30px;">
                <img src="../static/images/Rectangle 8.png">
                <img src="../static/images/Rectangle 10.png">
            </div>
            <div>
                <img src="../static/images/Rectangle 9.png">
            </div>
            <div>
                <h2 class="roboto-light" style="font-size: 64px; color: #BDBDBD;">About</h2>
                <p class="roboto-light" style="color: #000; font-size: 16px; padding-right: 205px;">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
                <a href="#" style="background-color: #ffffff; padding: 24px 64px 23px 35px; display: inline-block;">Read More <img src="../static/images/ico-shape.png"></a>
            </div>
        </div>
        <div style="display: flex; flex-direction: column; padding-left: 135px;">
            <div>
                <h1 class="roboto-light" style="color: #BDBDBD; font-size: 64px;">Main Focus/Mission Statement</h1>
            </div>
            <div style="display: flex; flex-direction: row;">
                <div style="display: flex; flex-direction: row; align-items: center;">
                    <h2 class="roboto-black" style="color: #f2f2f2; font-size: 200px;">1</h2>
                    <p class="roboto-regular" style="color: #333333; font-size: 22px;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed efficitur, lectus et facilisis placerat.</p>
                </div>
                <div style="display: flex; flex-direction: row; padding-left: 187px; align-items: center; padding-right: 135px;">
                    <h2 class="roboto-black" style="color: #f2f2f2; font-size: 200px;">2</h2>
                    <p class="roboto-regular" style="color: #333333; font-size: 22px;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed efficitur, lectus et facilisis placerat, magna mauris porttitor tortor, a auctor est felis ut nisl.</p>
                </div>
            </div>
        </div>
        <div style="padding-left: 135px; padding-top: 120px;">
            <h1 class="roboto-light" style="font-size: 64px; color: #BDBDBD;">Our Projects</h1>
            <div>
                <div style="display: flex; flex-direction: row; gap: 30px; margin-bottom: 30px;">
                    <img src="../static/images/Group 92.png">
                    <img src="../static/images/image 15.png">
                </div>
                <div style="display: flex; flex-direction: row; gap: 30px;">
                    <img src="../static/images/image 16.png">
                    <img src="../static/images/image 17.png">
                    <img src="../static/images/image 18.png">
                </div>
            </div>
            <div style="margin-top: 30px; justify-self: right;">
                <img src="../static/images/Frame 11.png">
            </div>
        </div>
    </main>
    <footer style="
    display: flex; 
    flex-direction: row; 
    background-color: #2c2c2c; 
    justify-content: space-around;
    padding-left: 116px;
    padding: 58px;
    width: 1440px;
    height: 200px;">
        <div><img src="../static/images/images1.png"></div>
        <div style="display: flex; flex-direction: column; gap: 16px;">
            <p class="roboto-bold" style="color: #ffffff; font-size: 16px;">Information</p>
            <a href="{{url_for('Homescreen')}}" class="roboto-medium" style="color: #ffffff; font-size: 14px; text-decoration: none;">Main</a>
            <a href="{{url_for('GalleryPage', currentPage = 1)}}" class="roboto-medium" style="color: #ffffff; font-size: 14px; text-decoration: none">Gallery</a>
            <a href="{{url_for('OurProjects', currentPage = 1)}}" class="roboto-medium" style="color: #ffffff; font-size: 14px; text-decoration: none">Projects</a>
            <a href="{{url_for('contactPage')}}" class="roboto-medium" style="color: #ffffff; font-size: 14px; text-decoration: none">Contacts</a>
        </div>
        <div style="display: flex; flex-direction: column; gap: 32px;">
            <p class="roboto-bold" style="color: #ffffff; font-size: 16px;">Contacts</p>
            <div style="display: flex; flex-direction: row;">
                <img src="../static/images/Vector.png" style="width: 11px; height: 16px; margin-right: 19px;">
                <div>
                    <p class="roboto-medium" style="color: #ffffff; font-size: 14px;">1234 Sample Street</p>
                    <p class="roboto-medium" style="color: #ffffff; font-size: 14px;">Austin Texas 78704</p>
                </div>
            </div>
            <div style="display: flex; flex-direction: row;">
                <img src="../static/images/Group.png" style="width: 16.01px; height: 16px; margin-right: 14px;">
                <p class="roboto-medium" style="color: #ffffff; font-size: 14px;">512.333.2222</p>
            </div>
            <div style="display: flex; flex-direction: row;">
                <img src="../static/images/Group (1).png" style="width: 16px; height: 11px; margin-right: 14px;">
                <p class="roboto-medium" style="color: #ffffff; font-size: 14px;">sampleemail@gmail.com</p>
            </div>
        </div>
        <div style="display: flex; flex-direction: column; gap: 32px; margin-right: 212px;">
            <p class="roboto-bold" style="color: #ffffff; font-size: 16px;">Social Media</p>
            <div style="display: flex; gap: 40px;">
                <img src="../static/images/facebook.png">
                <img src="../static/images/twitter.png">
                <img src="../static/images/Linked In.png">
                <img src="../static/images/pininterest.png">
            </div>
        </div>
    </footer>
</body>
</html>
