<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/home.css">
    <title>Architect Project Page</title>
</head>
<body>
    <nav>
        <img src="../static/images/images1.png" width="50px" height="50px">
        <a href="./HomePage.html">MAIN</a>
        <a href="#">GALLERY</a>
        <a href="#">PROJECTS</a>
        <a href="#">CERTIFICATIONS</a>
        <a href="#">CONTACTS</a>
    </nav>

    <main>
        <div style="display: flex; flex-direction: column; margin-top: 63px; margin-left: 135px;">
            <h1 class="roboto-light" style="font-size: 64px; color: #bdbdbd;">Sample</h1>
            <h1 class="roboto-bold" style="font-size: 64px; color: #333333;">Project 1</h1>
        </div>
        <div style="height: 1px; width: 1170px; background-color: #f2f2f2;"></div>
        <div>
            <img src="../static/images/image 33.png" style="width: 1170;">
        </div>
    </main>

    <footer style="
    display: flex; 
    flex-direction: row; 
    background-color: #2c2c2c; 
    justify-content: space-around;
    padding-left: 116px;
    padding: 58px;
    width: 1440px;
    height: 200px;">
        <div><img src="../static/images/images1.png"></div>
        <div style="display: flex; flex-direction: column; gap: 16px;">
            <p class="roboto-bold" style="color: #ffffff; font-size: 16px;">Information</p>
            <a href="#" class="roboto-medium" style="color: #ffffff; font-size: 14px; text-decoration: none;">Main</a>
            <a href="#" class="roboto-medium" style="color: #ffffff; font-size: 14px; text-decoration: none">Gallery</a>
            <a href="#" class="roboto-medium" style="color: #ffffff; font-size: 14px; text-decoration: none">Projects</a>
            <a href="#" class="roboto-medium" style="color: #ffffff; font-size: 14px; text-decoration: none">Certifications</a>
            <a href="#" class="roboto-medium" style="color: #ffffff; font-size: 14px; text-decoration: none">Contacts</a>
        </div>
        <div style="display: flex; flex-direction: column; gap: 32px;">
            <p class="roboto-bold" style="color: #ffffff; font-size: 16px;">Contacts</p>
            <div style="display: flex; flex-direction: row;">
                <img src="../static/images/Vector.png" style="width: 11px; height: 16px; margin-right: 19px;">
                <div>
                    <p class="roboto-medium" style="color: #ffffff; font-size: 14px;">1234 Sample Street</p>
                    <p class="roboto-medium" style="color: #ffffff; font-size: 14px;">Austin Texas 78704</p>
                </div>
            </div>
            <div style="display: flex; flex-direction: row;">
                <img src="../static/images/Group.png" style="width: 16.01px; height: 16px; margin-right: 14px;">
                <p class="roboto-medium" style="color: #ffffff; font-size: 14px;">512.333.2222</p>
            </div>
            <div style="display: flex; flex-direction: row;">
                <img src="../static/images/Group (1).png" style="width: 16px; height: 11px; margin-right: 14px;">
                <p class="roboto-medium" style="color: #ffffff; font-size: 14px;">sampleemail@gmail.com</p>
            </div>
        </div>
        <div style="display: flex; flex-direction: column; gap: 32px; margin-right: 212px;">
            <p class="roboto-bold" style="color: #ffffff; font-size: 16px;">Social Media</p>
            <div style="display: flex; gap: 40px;">
                <img src="../static/images/facebook.png">
                <img src="../static/images/twitter.png">
                <img src="../static/images/Linked In.png">
                <img src="../static/images/pininterest.png">
            </div>
        </div>
    </footer>
</body>
